/* Login.module.scss */
.login-page {
    display: flex;
    height: 100vh; /* Full screen height */
}

.login-form-container {
    flex: 1;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}

.logo {
    width: 80px; /* Adjust size as needed */
    height: auto;
}

.login-form-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.login-form-wrapper {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.image-container {
    flex: 1;
    background-color: #ccc;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%; /* Image adjusts to container width */
    height: auto; /* Keep aspect ratio */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label,
.form-group input {
    display: block;
}

.form-group label {
    font-weight: 700;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px; /* Margin from the "Login" button to "Forgot password?" */
    text-align: right; /* Align text to the right */
    font-size: 14px; /* Font size */
    color: #4d9cb0; /* Text color */
    text-decoration: underline; /* Underline text */
    cursor: pointer; /* Change cursor to pointer on hover */
}
