.wrapper {
    width: 180px; /* Độ rộng của sidebar */
    height: 100%; /* Chiều cao của sidebar sẽ giống với chiều cao của viewport */
    background-color: #c5c2cf; /* Màu nền của sidebar */
}

.wrapper li {
    padding: 10px; /* Khoảng cách giữa các mục trong sidebar */
    list-style-type: none; /* Loại bỏ dấu đầu dòng của các mục */
}

.wrapper li a {
    font-size: 16px;
    color: #333; /* Màu chữ của các liên kết */
    text-decoration: none; /* Loại bỏ gạch chân của các liên kết */
    display: block; /* Biến các liên kết thành khối phần tử, để chúng chiếm toàn bộ chiều ngang của sidebar */
}

.wrapper li a:hover {
    background-color: #bababa; /* Màu nền của các mục khi di chuột qua */
}
