/* Sidebar.module.scss */

.wrapper {
    width: 200px; /* Độ rộng của sidebar */
    height: fit-content; /* Chiều cao của sidebar sẽ giống với chiều cao của viewport */
    background-color: #333; /* Màu nền của sidebar */
    color: #fff; /* Màu chữ của các mục trong sidebar */
  }
  
  .wrapper li {
    padding: 10px; /* Khoảng cách giữa các mục trong sidebar */
    list-style-type: none; /* Loại bỏ dấu đầu dòng của các mục */
  }
  
  .wrapper li a {
    color: #fff; /* Màu chữ của các liên kết */
    text-decoration: none; /* Loại bỏ gạch chân của các liên kết */
    display: block; /* Biến các liên kết thành khối phần tử, để chúng chiếm toàn bộ chiều ngang của sidebar */
  }
  
  .wrapper li a:hover {
    background-color: #555; /* Màu nền của các mục khi di chuột qua */
  }
  