/* Header.module.scss */

.wrapper {
    width: 100%; /* Chiều rộng 100% */
    background-color: #46709d; /* Màu nền header (màu xanh) */
    padding: 10px 20px; /* Khoảng cách bên trong header */
}

.inner {
    display: flex; /* Sử dụng flexbox để căn giữa nội dung */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

.logo {
    width: 80px; /* Độ rộng của logo */
    height: auto; /* Chiều cao tự động theo tỷ lệ */
    background-color: transparent; /* Xóa nền của ảnh */
}
